*{
    transition: all .1s ease-in;
    font-family: “Trebuchet MS”, Trebuchet, Arial, sans-serif;

}
div {

}
html {
    box-sizing: border-box;
    background: #3b3f45;
    border: solid 10px;
    border-color: white;
    height: 100%;
    padding: 0;
}
body {
    /*background: black;
    border: solid 50px;
    border-color: white;*/
    padding: 0;
    border: 0;
}
.list div {
    text-align: left;
    color: white;
    padding: 15px;
}
.list {
    /*width: 50%;
    display: inline-block;*/
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
}
.darckgrey {
    background: #88839e;
}
.grey {
    background: #7a7593;
}
div:checked {
    text-decoration: line-through;
}
.list div:hover {
    background: #625e77;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
}
.name {
    background: dimgrey;
    border: none;
   /* height: 100%; */
    color: #eb7e7f;
    text-align: center;
    border: 0;
    padding: 15px;
    margin: 0;

}
.bon {
    box-sizing: border-box;
    color: #e87e7a;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    background: #4a4f56;
    padding: 15px;
    margin-top: 15px;
}